*.pt
*.pth
__pycache__
__pycache__lakshya
venv
venv310
.early.coverage
*.mp4
test_assets
test_assets_x
results
results_lakshya
Shuttleset
test_shuttlenet
test_shuttlenet
test_shuttlenet_x
weights
old_3d.py
z.py
z2.py
pose_estimation_x.py